<div style="padding:0 15px 0 0">
    <div class="row">
        <div class="col-lg-3">
          <div class="response">
            <h3 class="grey">History</h3>
            <hr>
            <div class="list" *ngFor="let h of history">
              <div><span class="requestMethod">{{h.method}}</span> <span>{{h.url}}</span></div>
              <div class="status" [ngStyle]="h.statusCode == 200?{'color':'green'}:{'color':'red'}">{{h.status}}</div>
            </div>

          </div>
        </div>
        <div class="col-lg-9">
          <div style="margin-top:10px">
              <a target="_blank" href="http://getdevapi.eskor.com.ng/docs/index.html" class="btn btn-lg btn-primary"> 
               <i class="fa fa-book"></i> VIEW DOCUMENTATION</a>
          </div>
          <div class="main_body">
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <label>METHOD</label>
                  <select class="form-control" [(ngModel)]="method" (change)="checkForm()">
                    <option value="get">GET</option>
                    <option value="post">POST</option>
                    <option value="delete">DELETE</option>
                    <option value="put">PUT</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <label>SCHEME :// HOST [ ":" PORT ] [ PATH [ "?" QUERY ]]</label>
                  <input type="text" [(ngModel)]="baseUrl" name="" class="form-control">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <button (click)="sendRequest()" class="btn btn-success sendBtn full-width"><i class="fa fa-send"></i> Send</button>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>HEADER</label>
                  <input type="text" name="header" [(ngModel)]="header" placeholder="Enter Authorization token" class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                 <LABEL>BODY</LABEL>
                 <div class="grey" *ngIf="!showForm">
                   Use Query Param
                 </div>
                <div *ngIf="showForm">
                    <div class="form-group" *ngFor="let s of formData">
                        <div class="row">
                          <div class="col-lg-4">
                            <input type="text" name="" [(ngModel)]="s.name" placeholder="name" class="form-control">
                          </div>
                          <div class="col-lg-7">
                            <input type="text" name="" [(ngModel)]="s.value" placeholder="value" class="form-control">
                          </div>
                          <div class="col-lg-1">
                              <button (click)="delete(s)" class="btn btn-xs close-btn">x</button>
                          </div>
                        </div>
                      </div>
                    <button (click)="addForm()" class="btn btn-default btn-xs"><i class="fa fa-plus"></i> Add form parameter</button>
                </div>
                
      
              </div>
            </div>
      
          </div>
      
          <div class="main_body grey">
            <h3 style="margin:0">Response</h3>
            <small *ngIf="!showResponse">Not available, a request has not been sent yet.</small>
            <div *ngIf="showResponse">
               <div class="panel-body title" [ngStyle]="response.status == 200?{'background': '#4CAF50'}:{'background':'#F44336'}"> Status {{response.status}}</div>
               <pre style="font-size: 0.75em;color: #2b2bc1;height:33vh;overflow:scroll">
                  {{prettyOutput}}
              </pre>
            </div>
            
          </div>
        </div>
      </div>
</div>